body {
    font-family: 'Times New Roman', Times, serif !important;
}

.img {
    background-image: url(img/Decore.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 140vh !important;
}

.img-2 {
    background-image: url(img/fly-3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150vh !important;
}

.img-3 {
    background-image: url(img/travel.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150vh !important;
}

.img-4 {
    background-image: url(img/login-img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150vh !important;
}

.bg{
    border-radius: 15px;
    background:rgba(255, 255, 255, 0.637);
    padding: 0 !important;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-2{
    border-radius: 15px;
    background:rgba(255, 255, 255, 0.637);
    padding: 50px !important;
    /* height: 30vh; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-direction: column; */
}

.bg-3{
    border-radius: 15px;
    background:rgba(255, 255, 255, 0.637);
    padding: 0 !important;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-4{
    border-radius: 15px;
    background:rgba(255, 255, 255, 0.637);
    padding: 0 !important;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-card {
    background-color: #f9f7fe;
}

.label{
    display: flex; 
    justify-content: space-between;
}

.ps {
    width: 100% !important;
    position: absolute !important;
    top: 0px;
    /* background-color: #101018 !important; */
    z-index: 10 !important;
}

.blue {
    width: 540px;
    position: absolute;
    top: -100px;
    left: -50px;
}

.fs {
    font-family: sans-serif;
}

.fs-2 {
    font-size: 12px;
    font-family: sans-serif;
}

.n-icon {
    rotate: 45deg !important;
    transition: .1s linear !important;
}

.n-icon:hover {
    rotate: -45deg !important;
}

.nav-text {
    font-weight: 500;
    color: #212832;
}

.img-position {
    margin-top: 5rem;
    margin-left: -10rem;
}

.text-one {
    font-weight: 700;
    color: #df6951;
    font-family: sans-serif;
}

.text-2 {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #5e6282;
    font-family: sans-serif;
}

.text-3 {
    font-weight: 500;
    color: #5e6282;
}

.text-4 {
    font-size: 20px;
    font-weight: 500;
    color: #5e6282;
    font-family: sans-serif;
}

.text-5 {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

.text-6 {
    font-size: 15px;
    font-weight: 500;
    text-align: center !important;
    color: #5e6282;
    font-family: sans-serif;
}

.text-7 {
    font-size: 15px;
    color: #5e6282;
    font-weight: 600;
    font-family: sans-serif;
}

.text-8 {
    font-size: 20px;
    font-weight: 500;
    color: #5e6282;
    font-family: sans-serif;
}

.text-9 {
    /* font-size: 15px; */
    font-weight: bold;
    color: #5e6282;
    font-family: sans-serif;
}

.text-10 {
    font-size: 12px !important;
    font-family: sans-serif !important;
}

.text-11 {
    font-size: 17px !important;
    font-family: sans-serif !important;
    font-weight: 700;
}

.text-12 {
    font-size: 14px !important;
    font-family: sans-serif !important;
    font-weight: 700;
    color: #5e6282;
}

.text-13 {
    font-size: 14px !important;
    font-family: sans-serif !important;
    font-weight: 500;
    color: #9190a5;
}

.text-14 {
    font-size: 30px !important;
    font-family: sans-serif !important;
    font-weight: 700;
    text-align: center;
    color: #5e6282;
}

.text-15 {
    font-size: 25px !important;
    font-family: sans-serif !important;
    font-weight: 700;
    color: black;
}

.text-16 {
    /* font-size: 15px; */
    color: #5e6282;
    font-family: sans-serif;
    line-height: 30px;
    text-decoration: none !important;
}

.text-17 {
    font-size: 22px;
    text-align: center !important;
    color: #5e6282;
    font-family: sans-serif;
}

.text-shrift {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600 !important;
    color: #181e4b;
}

.b-shadow {
    margin-left: 12%;
    padding: 12px 25px 12px 25px !important;
    box-shadow: 0px 8px 15px 0px #fdf3de;
}

.hover {
    border-radius: 25px;
    position: relative;
    z-index: 10;
    transition: .1s linear;
}

.hover:hover {
    box-shadow: 5px 15px 15px 5px #f1f1f1;
    scale: 1.01;
}

.hover-2 {
    transition: .1s linear;
}

.hover-2:hover {
    scale: 1.06;
}

.hv {
    transition-duration: .1s;
    overflow: hidden;

}

.hv:hover {
    transform: scale(1.1);
    /*overflow: hidden;*/
    /* transition: 0.5s all linear; */
    border-radius: 5px;
    cursor: pointer;
}

.img-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.pr {
    position: relative !important;
    z-index: 1;
}

.position-icon {
    position: absolute;
    top: 80rem;
    left: 22rem;
    z-index: 0 !important;

}

.position-text {
    position: absolute;
}

.white {
    width: 66.6%;
    height: 18vh;
    margin-top: -17rem;
    border-radius: 0 0 25px 25px;
}

.border-r {
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0px 25px 50px 5px #f1f1f1;

}

.radius {
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 25px 50px 5px #f1f1f1;
}

.radius-2 {
    border-radius: 100px 20px 20px 20px;
}

.radius-3 {
    border-radius: 30px;
    overflow: hidden;
}

.bg-pink {
    background-color: #8a79df !important;
}

.avatar-card {
    width: 60%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 25px 50px 5px #f1f1f1;
    position: absolute;
    z-index: 1;
    transition: .1 linear;
    margin-left: 80px;
}

.avatar-card-2 {
    width: 60%;
    position: absolute;
    left: 4rem;
    top: 3rem;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 25px 50px 5px #f1f1f1;
    z-index: 0;
    transition: .1 linear;
}

.offset-prev {
    /* margin-left: 500px; */
    background-color: #000000;
}

.icon-radius {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background-color: #222222 !important;
}

.icon-offset {
    margin-left: -250px !important;
    bottom: 100px !important;
}

.hover-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    transition: .1s linear;
}

.hover-icon:hover {
    scale: 1.02;
    box-shadow: 0px 25px 30px 5px #f1f1f1;
}

.email {
    border: none !important;
    width: 70% !important;
    position: relative !important;
    font-family: sans-serif;
    padding: 25px 45px 25px 45px !important;
}

.input-icon {
    position: absolute !important;
    left: 1rem;
    z-index: 10;
}

.plyus-img {
    margin-left: 84.99999%;
    margin-top: -6rem;
}

.send-img {
    margin-left: 67rem;
    margin-top: -20px;
    animation-name: send;
    animation-duration: .5s;
    animation-delay: .1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.line {
    width: 300px;
    left: 52.1rem;
    top: .1rem;
    position: absolute;
}

@keyframes send {
    from {
        scale: 1;
    }

    to {
        scale: 1.1;
        transition-timing-function: linear;
    }
}

/* responsive */
@media (max-width: 767.98px) {
    .text-shrift {
        font-size: 15px !important;
    }
}

@media (max-width: 1069.98px) {
    .text-shrift {
        font-size: 50px !important;
    }
}
@media (max-width: 767.98px) {
    .fs {
        font-size: 15px !important;
    }
}

@media (max-width: 1069.98px) {
    .fs {
        font-size: 25px !important;
    }
}
@media (max-width: 767.98px) {
    .bg {
        flex-wrap: wrap !important;
        margin: 10% auto !important;
    }
}

@media (max-width: 1069.98px) {
    .bg {
        /* flex-wrap: wrap !important; */
        margin: 0% !important;
    }
}

@media (max-width: 767.98px) {
    .text-14 {
        font-size: 15px !important;
    }
}

@media (max-width: 1069.98px) {
    .text-14 {
        font-size: 20px !important;
    }
}

@media (max-width: 767.98px) {
    .text-18 {
        font-size: 50px !important;
    }
}

@media (max-width: 1069.98px) {
    .text-18 {
        font-size: 30px !important;
    }
}

@media (max-width: 767.98px) {
    .text-19 {
        font-size: 50px !important;
    }
}

@media (max-width: 1069.98px) {
    .text-19 {
        font-size: 40px !important;
    }
}

@media (max-width: 767.98px) {
    .plyus-img {
        display: none;
    }
}

@media (max-width: 1069.98px) {
    .plyus-img {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .plyus-img-2 {
        display: none;
    }
}

@media (max-width: 1069.98px) {
    .plyus-img-2 {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .position-icon {
        display: none;
    }
}

@media (max-width: 1069.98px) {
    .position-icon {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .icon-offset {
        margin-left: 16rem !important;
    }
}

@media (max-width: 1069.98px) {
    .icon-offset {
        margin-left: 16rem !important;
    }
}

@media (max-width: 767.98px) {
    .img-position {
        margin-left: -1rem;
    }
}

@media (max-width: 1069.98px) {
    .img-position {
        margin-left: -1rem;
    }
}

@media (max-width: 767.98px) {
    .line {
        display: none;
    }
}

@media (max-width: 1069.98px) {
    .line {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .send-img {
        margin-left: 32rem;
        margin-top: -20px;
    }
}

@media (max-width: 1069.98px) {
    .send-img {
        margin-left: 22rem;
        margin-top: -35px;
    }
}

/* responsive */